.linktintuc .left1 img {
    float: left;
    margin-right: 10px;
}

p {
    font-size: 20px;
}

.amen h1 {
    color: aqua;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: aqua;
}